.webpage__main {
  width: 100%;
  height: 100%;
  margin: 24px 140px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

html {
  height: 100%;
}
body {
  overflow-y: scroll;
  background-color: #e2e7ed;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  color: #4E5361;
  font-family: Roboto;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.2px;
}

@for $i from 1 through 16 {
  .mt-#{$i} {
    margin-top: (4px * $i);
  }
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
  display: none;
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after {
  content: '*';
  color: #5093E1;
  margin-left: 4px;
}
